// index.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#root {
  width: 100%;
  margin: 0;
  padding: 2rem 7vw;
  background-color: #f5f6fa;
}

.container {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #f8f8f8;
}

.WebHeader,
.WebPage,
.add-book-container {
  border-radius: 6px 6px 0 0;
  margin: 0.5rem 0;
  padding: 1rem 7vw;
}

.WebHeader {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  align-items: center;

  .HeaderTitle {
    margin: 0.5rem;
    width: 15rem;
    font-family: Montserrat, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0290ff;
  }

  .HeaderMenu {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem 0;

    .MenuItem {
      text-decoration: none;
      color: #666;
      margin: 0;
      padding: 0 0.5rem;
      font-family: Montserrat, sans-serif;
      font-size: 0.8rem;
      letter-spacing: 0.12rem;

      a {
        color: inherit;
      }
    }
  }
}

.WebPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.book-container {
  align-items: center;
  margin: 0;
  padding: 0;
}

.c1,
.c2,
.c3 {
  padding: 0 0.4rem;
}

.btn-up-progress {
  font-family: Roboto Slab, Montserrat, sans-serif;
  margin: 0;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: 300;
  width: 10rem;
}

.btn-add-book {
  // color: #222 !important;
  padding: 0.1rem;
  margin: 0;
  border-radius: 3px;
  font-family: Roboto Slab, Montserrat, sans-serif;
  font-size: 0.8rem;
  width: 100%;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.book {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.6rem;
  padding: 1rem 1.4rem;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #e8e8e8;

  .c1 {
    .book-data {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      .book-category {
        font-family: Montserrat, sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        color: #888;
      }

      .author-and-title {
        .book-title {
          font-family: Roboto Slab, Montserrat, sans-serif;
          font-size: 1.3rem;
          margin: 0;
        }

        .book-author {
          margin: 0;
          padding: 0;
          font-family: Roboto Slab, Montserrat, sans-serif;
          font-size: 1rem;
          font-weight: 300;
          color: #4386bf;
        }
      }
    }

    .btn-array {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      color: #bbb;

      button {
        font-family: Roboto Slab, Montserrat, sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: #4386bf;
        background: none;
        border: none;
        border-radius: 0.1rem;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
    }
  }

  .c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;

    img {
      padding: 0;
      margin: 0;
      height: 4rem;
    }
  }

  .v-splitter {
    font-size: 0.2rem;
    height: 5rem;
    color: #ccc;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .c3 {
    span {
      font-family: Roboto Slab, Montserrat, sans-serif;
      color: #666;
      font-size: 0.8rem;
      font-weight: 300;
    }

    h4 {
      font-family: Roboto Slab, Montserrat, sans-serif;
      margin: 0 0 0.9rem 0;
      padding: 0.2rem 0;
      color: #222;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.add-book-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0;

  .h-splitter {
    border-top: solid #ddd 1px;
    margin-bottom: 1rem;
  }

  h2 {
    margin: 0.5rem 0;
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #888;
  }

  .add-book-text {
    width: 100%;
    margin: 0;
    border: solid #ccc 0.1rem;
    border-radius: 0.2rem;
    background-color: #eee;
  }

  .add-book-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    gap: 0.4rem;

    .add-title,
    .add-author {
      margin: 0;
      padding: 0.4rem;
      border: solid #ccc 0.1rem;
      border-radius: 0.2rem;
      background-color: #fff;
      font-family: Montserrat, sans-serif;
      color: #888;
      font-size: 1rem;
    }
  }
}
