// index.scss

* {
  margin: 0 !important;
  padding: 0;
  color: #222 !important;
  list-style-type: none;
  text-decoration: none;
}

.App,
.WebHeader {
  margin: 0.7rem !important;
}

ul {
  padding: 0;
}

h1 {
  font-size: 1.8rem;
  color: #444;
}

.book {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0 !important;
}

button {
  background: #ddd !important;
  border: none !important;
  border-radius: 0.1rem !important;
  padding: 0.5rem !important;
  cursor: pointer !important;
}

button:hover {
  background-color: #ccc !important;
}

button:active {
  background-color: #bbb !important;
  font-weight: 700 !important;
}
