@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#root {
  width: 100%;
  margin: 0;
  padding: 2rem 7vw;
  background-color: #f5f6fa;
}

.container {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #f8f8f8;
}

.WebHeader,
.WebPage,
.add-book-container {
  border-radius: 6px 6px 0 0;
  margin: 0.5rem 0;
  padding: 1rem 7vw;
}

.WebHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.WebHeader .HeaderTitle {
  margin: 0.5rem;
  width: 15rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.WebHeader .HeaderMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
}

.WebHeader .HeaderMenu .MenuItem {
  text-decoration: none;
  color: #666;
  margin: 0;
  padding: 0 0.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
}

.WebHeader .HeaderMenu .MenuItem a {
  color: inherit;
}

.WebPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.c1,
.c2,
.c3 {
  padding: 0 0.4rem;
}

.btn-up-progress {
  font-family: Roboto Slab, Montserrat, sans-serif;
  margin: 0;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: 300;
  width: 10rem;
}

.btn-add-book {
  color: #222 !important;
  padding: 0.1rem;
  margin: 0;
  border-radius: 3px;
  font-family: Roboto Slab, Montserrat, sans-serif;
  font-size: 0.8rem;
  width: 100%;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.6rem;
  padding: 1rem 1.4rem;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #e8e8e8;
}

.book .c1 .book-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

.book .c1 .book-data .book-category {
  font-family: Montserrat, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #888;
}

.book .c1 .book-data .author-and-title .book-title {
  font-family: Roboto Slab, Montserrat, sans-serif;
  font-size: 1.3rem;
  margin: 0;
}

.book .c1 .book-data .author-and-title .book-author {
  margin: 0;
  padding: 0;
  font-family: Roboto Slab, Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #4386bf;
}

.book .c1 .btn-array {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  color: #bbb;
}

.book .c1 .btn-array button {
  font-family: Roboto Slab, Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #4386bf;
  background: none;
  border: none;
  border-radius: 0.1rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.book .c2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
}

.book .c2 img {
  padding: 0;
  margin: 0;
  height: 4rem;
}

.book .v-splitter {
  font-size: 0.2rem;
  height: 5rem;
  color: #ccc;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.book .c3 span {
  font-family: Roboto Slab, Montserrat, sans-serif;
  color: #666;
  font-size: 0.8rem;
  font-weight: 300;
}

.book .c3 h4 {
  font-family: Roboto Slab, Montserrat, sans-serif;
  margin: 0 0 0.9rem 0;
  padding: 0.2rem 0;
  color: #222;
  font-size: 1.2rem;
  font-weight: 500;
}

.add-book-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
  padding: 0;
}

.add-book-container .h-splitter {
  border-top: solid #ddd 1px;
  margin-bottom: 1rem;
}

.add-book-container h2 {
  margin: 0.5rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #888;
}

.add-book-container .add-book-text {
  width: 100%;
  margin: 0;
  border: solid #ccc 0.1rem;
  border-radius: 0.2rem;
  background-color: #eee;
}

.add-book-container .add-book-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  gap: 0.4rem;
}

.add-book-container .add-book-form .add-title,
.add-book-container .add-book-form .add-author {
  margin: 0;
  padding: 0.4rem;
  border: solid #ccc 0.1rem;
  border-radius: 0.2rem;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #888;
  font-size: 1rem;
}
/*# sourceMappingURL=index.css.map */